* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;

}

.icon__bag {
    font-size: 2rem;
    cursor: pointer;
}

.content__navbar {
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: black;
}
.navbar {
    background-color: blue;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 3rem;

}
.products {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

}

.product {
    background-color:rgb(221, 219, 219);
    border-radius: 1rem;
    
}